.player {
    display: flex;
    flex-direction: column;
}

.video {
    width: 800px;
    position: relative;
}

.video video {
    width:100%;
}

.pre-next {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.controls {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.progress-bottom {
    width: 100%;
    display: flex;
    align-items: center;
}

