.forward-backward-sec {
    margin-left: auto;
}

.forward-backward-but {
    background-color: transparent;
    border: none;
}

.forward-backward-but:hover {
    cursor: pointer;
}

.forward-backward-icon {
    width: 40px;
    margin: 5px;
}