.slider-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-section:hover {
    cursor: pointer;
}

#drag-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

#drag-button:hover {
    cursor: pointer;
}