.pre-next-section {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pre-next-button {
    background-color: transparent;
    border: none;
}

.pre-next-button:hover {
    cursor: pointer;
}

.pre-next-icon {
    width: 25px;
}