.videoplayer {
    margin: 0;
    padding: 0;
    position: relative;
}

.pre-next {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.controls {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.progress-bottom {
    width: 100%;
    display: flex;
}