.selection-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.selection-list h3 {
    text-align: center;
}

.item-img {
    width: 300px;
}

.item-button {
    background-color: transparent;
    border: none;
}

.item-button:hover {
    cursor: pointer;
}